# Cloudflare R2 Configuration
R2_ENDPOINT=https://2e3420d2d10f074b5ac15392d883d6a1.r2.cloudflarestorage.com/watervendingrefill
R2_ACCESS_KEY_ID=8379cb3c3bbcc49b43ba82a7cabcbb9d
R2_SECRET_ACCESS_KEY=018fe9d915f9b433950bc1bbc5f2915adf147b812328f275dcfdd4574d9c00e7
R2_BUCKET_NAME=watervendingrefill
R2_PUBLIC_URL=https://your-custom-domain.com
https://2e3420d2d10f074b5ac15392d883d6a1.r2.cloudflarestorage.com
# JWT Secret
JWT_SECRET=slinezolide%ouma

# Server Port
PORT=3001
